
.about-us-main {
    margin: 1rem 2rem;
}

.about-us-entry {
    display: flex
}

.about-us-img-wrapper {
    height: 25rem;
    margin: 1rem
}
.about-us-img {
    flex: 1;
    height: 100%;
    width: auto;
}

.about-us-text {
    margin: 1rem;
}
