.font-size-article-title {
  font-size: 2.5rem;
}

.font-size-article-subtitle {
  font-size: 1.5rem;
}

.font-size-article-content {
  font-size: 1.25rem;
}

.article-text-wrapper {
  margin: 2rem;
}

.article-subtitle {
  color: var(--igr-gray);
  margin-top: 1rem;
}

.article-image-wrapper img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.image-source a {
  text-decoration: underline;
}
.image-source a:link {
  color: #0000EE;
}

.image-source a:visited {
  color: #551A8B;
}

.image-source a:active {
  color: #FF0000;
}

.article-content {
  width: 40rem;
  margin: 3rem auto 0;
}

/* adjust styles on screens < 800 px wide */
@media screen and (max-width: 800px) {
  .article-text-wrapper {
    margin: 0;
  }

  .article-content {
    width: 100%;
    margin: 3rem auto 0;
  }
}

/* adjust styles on screens < 600 px wide */
@media screen and (max-width: 600px) {
  .font-size-article-title {
    font-size: 1.75rem;
  }

  .font-size-article-subtitle {
    font-size: 1rem;
  }

  .font-size-article-content {
    font-size: 1rem;
  }
}
