{% extends 'layout.html' %}

{% set css_imports = ['<link rel="stylesheet" href="/static/css/article.css">'] %}

{% block content %}
<div class="article-text-wrapper">
    <h2 class="article-title font-size-article-title">{{ article.title }}</h2>
    <h3 class="article-subtitle font-size-article-subtitle">By {{ article.author }}</h3>
</div>
<div class="article-image-wrapper">
    <img src="{{ article.cover_image_name }}" alt="{{ article.cover_image_alt_text }}">
</div>
<div class="image-source font-size-article-content">
    <a href="{{ article.cover_image_source }}"><p>Image Source</p></a>
</div>
<div class="article-content font-size-article-content">
    <p>{{ article.body|safe }}</p>
</div>
{% endblock %}
