{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="card-big-wrapper">
    {% for article in articles_big_card %}
        <a href="/articles/{{ article.article_id }}.html">
            <div class="card-big">
                <div class="card-big-text-wrapper">
                    <h2 class="font-size-card-big-title">{{ article.title }}</h2>
                    <h3 class="card-big-subtitle font-size-card-big-subtitle">
                        By {{ article.author }}
                        <br>
                        {{ get_article_creation_date_str(article) }}
                    </h3>
                </div>
                <div class="card-big-image-wrapper">
                    <img src="{{ article.cover_image_name }}" alt="{{ article.cover_image_alt_text }}">
                </div>
            </div>
        </a>
        <hr>
    {% endfor %}
</div>
<div class="card-small-wrapper">
    {% for article_row in articles_small_card %}
        <div class="card-small-row">
        {% for article in article_row %}
            <a href="/articles/{{ article.article_id }}.html">
                <div class="card-small">
                    <div class="card-small-image-wrapper">
                        <img src="{{ article.cover_image_name }}" alt="{{ article.cover_image_alt_text }}">
                    </div>
                    <div class="card-small-text-wrapper">
                        <h2 class="font-size-card-small-title">{{ article.title }}</h2>
                        <h3 class="card-small-subtitle font-size-card-small-subtitle">
                            By {{ article.author }}
                            <br>
                            {{ get_article_creation_date_str(article) }}
                        </h3>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}