{{define "index"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>UIUC IGR | Home</title>
		<meta name="description" content="UIUC Illinois Global Review">
		<meta name="author" content="UIUC Illinois Global Review">
		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

		<!-- meta tags for mobile devices -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<!-- google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
		
		<!-- adobe fonts -->
		<link rel="stylesheet" href="https://use.typekit.net/pui7kpe.css">
		
		<!-- css -->
		<link rel="stylesheet" href="/assets/css/styles.css">
	</head>
	<body>
		<div class="main">
			<header>
				<a href="/">
					<h1 class="font-size-title">Illinois Global Review</h1>
				</a>
				<div class="navbar-wrapper">
					<div class="navbar font-size-navbar">
						<a href="/section/north_america">
							<h4>North America</h4>
						</a>
					</div>
					<div class="navbar font-size-navbar">
						<a href="/section/europe">
							<h4>Europe</h4>
						</a>
					</div>
					<div class="navbar font-size-navbar">
						<a href="/section/asia">
							<h4>Asia</h4>
						</a>
					</div>
					<div class="navbar font-size-navbar">
						<a href="/section/africa">
							<h4>Africa</h4>
						</a>
					</div>
					<div class="navbar font-size-navbar">
						<a href="/section/south_america">
							<h4>South America</h4>
						</a>
					</div>
					<div class="navbar font-size-navbar">
						<a href="/section/oceania">
							<h4>Oceania</h4>
						</a>
					</div>
				</div>
			</header>
			<hr>
			<div class="card-big-wrapper">
				{{range $index, $item := .Header}}
					<a href="/articles/{{$item.ID}}.html">
						<div class="card-big">
							<div class="card-big-text-wrapper">
								<h2 class="font-size-card-big-title">{{$item.Title}}</h2>
								<h3 class="card-big-subtitle font-size-card-big-subtitle">By {{$item.Author}}</h3>
							</div>
							<div class="card-big-image-wrapper">
								<img src="{{$item.CoverImageName}}">
							</div>
						</div>
					</a>
					<hr>
				{{end}}
			</div>
			<div class="card-small-wrapper">
				{{range $index, $item := .Body}}
					{{if eq (mod $index 3) 0}}<div class="card-small-row">{{end}}
						<a href="/articles/{{$item.ID}}.html">
							<div class="card-small">
								<div class="card-small-image-wrapper">
									<img src="{{$item.CoverImageName}}">
								</div>
								<div class="card-small-text-wrapper">
									<h2 class="font-size-card-small-title">{{$item.Title}}</h2>
									<h3 class="card-small-subtitle font-size-card-small-subtitle">By {{$item.Author}}</h3>
								</div>
							</div>
						</a>
					{{if eq (mod (add $index 1) 3) 0}}</div>{{end}}
				{{end}}
				{{if ne (mod (len .Body) 3) 0}}</div>{{end}}
			</div>
			<hr>
			<footer class="font-size-footer">
				<h2>Illinois Global Review</h2>
				<h3>Article Directory</h3>
				<h3>Feedback Form</h3>
				<h3>Contact Us</h3>
				<h3>Staff Login</h3>
			</footer>
		</div>
	</body>
</html>
{{end}}