{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}
{% set css_imports = ['<link rel="stylesheet" href="/static/css/about_us.css">'] %}
{% block content %}
    <div class="about-us-main font-size-card-big-subtitle">
        <h4 class="font-size-title" style="text-align: center">About Us</h4>
        <div class="about-us-entry">
            <div class="about-us-img-wrapper">
                <img src="/static/img/about_us.jpeg" class="about-us-img" alt="placeholder image">
            </div>
            <p class="about-us-text">
                Founded in 2023, the Illinois Global Review (IGR) began as a passion project among international
                relations students who wanted a space to share their voices, opinions, and research on global events.
                What started as a small initiative has since grown into a campus-wide publication dedicated to making
                international affairs accessible and engaging for all students. At its core, IGR empowers young thinkers
                to express their perspectives confidently and contribute meaningfully to conversations shaping our
                world.
            </p>
        </div>
    </div>
{% endblock %}