{% extends 'layout.html' %}

{% set css_imports = ['<link rel="stylesheet" href="/static/css/article.css">'] %}

{% block content %}
    <div class="article-text-wrapper">
        <h2 class="article-title font-size-article-title">{{ article.title }}</h2>
        <h3 class="article-subtitle font-size-article-subtitle">
            By {{ article.author }}
            <br>
            {{ get_article_creation_date_str(article) }}
        </h3>
    </div>
    <div class="article-image-wrapper">
        <img src="{{ article.cover_image_name }}" alt="{{ article.cover_image_alt_text }}">
    </div>
    <div class="image-source font-size-article-content">
        <a href="{{ article.cover_image_source }}"><p>Image Source</p></a>
    </div>
    <div class="article-content font-size-article-content">
        <p>{{ article.body|safe }}</p>
        <br>
        <p>{{ article.citation|safe }}</p>
        <br>
        <p>
            Disclaimer: This article and its contents are in no way representative
            of the positions of the University of Illinois Urbana-Champaign or
            Illinois Global Review. The views expressed in this article belong
            solely to the author(s). Illinois Global Review constantly strives for
            accurate, timely, and relevant publications. If you have any concerns
            with our publications, please contact us using the "Contact Us" tab at
            the bottom of this page.
        </p>
    </div>
{% endblock %}
