{% from "macros.html" import get_form_head %}
<!DOCTYPE html>
<html lang="en">
    {{ get_form_head("Edit") }}
    <body onload="setup()">
        <h1 class="form-header left-aligned-text font-size-title">Editing Article</h1>
        <div id="container" style="display: flex; flex-direction: row;">
            <div id="left" style="flex: 1 1 0">
                <form action="/edit/{{ article_id }}.html" enctype="multipart/form-data" method="POST" id="edit-form">
                    {{ form.hidden_tag() }}
                    <p>{{ form.title.label }} {{ form.title(size=32) }}</p>
                    <p>{{ form.author.label }} {{ form.author(size=32) }}</p>
                    <p>{{ form.body.label }} {{ form.body(rows=32, cols=80) }}</p>
                    <p>{{ form.cover_image.label }} {{ form.cover_image() }}</p>
                    {% if form.cover_image.errors %}
                        <span class="error">{{ form.cover_image.errors[0] }}</span>
                    {% endif %}
                    <p>{{ form.cover_image_alt_text.label }} {{ form.cover_image_alt_text(size=32) }}</p>
                    <p>{{ form.cover_image_source.label }} {{ form.cover_image_source(size=32) }}</p>
                    <p>{{ form.citation.label }} {{ form.citation(rows=1, cols=80) }}</p>
                    <legend>Tags</legend>
                    <p>{{ form.article_tags.label }} {{ form.article_tags(size=6) }}</p>
                    {% with messages = get_flashed_messages() %}
                        <ul class="errors">
                        {% for error in messages %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endwith %}
                    <button type="submit">Save</button>
                </form>
            </div>
            <div id="right" style="flex: 1 1 0">
                <div class="rendered-showdown-output" id="rendered-showdown-body"></div>
                <div class="rendered-showdown-output" id="rendered-showdown-citation"></div>
            </div>
        </div>
    </body>
</html>