{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}
{% set css_imports = ['<link rel="stylesheet" href="/static/css/about_us.css">'] %}
{% block content %}
    <div class="card-big-wrapper">
        {% for article in articles_big_card %}
            <div class="card-big">
                <div class="card-big-text-wrapper">
                    <a href="/articles/{{ article.article_id }}.html">
                        <h2 class="font-size-card-big-title">{{ article.title }}</h2>
                        <a href="/articles/{{ article.article_id }}.html">
                            <h3 class="card-big-subtitle font-size-card-big-subtitle">
                                By {{ article.author }}
                                <br>
                                {{ get_article_creation_date_str(article) }}
                            </h3>
                        </a>
                        {% if article.tags %}
                            <div class="card-tags-wrapper">
                                {% for t in article.tags %}
                                    <a class="card-tag" href="/tags/{{ t }}">{{ url_to_tag_dict[t] }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </a>
                </div>
                <div class="card-big-image-wrapper">
                    <a href="/articles/{{ article.article_id }}.html">
                        <img src="{{ article.cover_image_name }}" alt="{{ article.cover_image_alt_text }}">
                    </a>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="card-small-wrapper">
        {% for article_row in articles_small_card %}
            <div class="card-small-row">
                {% for article in article_row %}
                    <div class="card-small">
                        <div class="card-small-image-wrapper">
                            <a href="/articles/{{ article.article_id }}.html">
                                <img src="{{ article.cover_image_name }}" alt="{{ article.cover_image_alt_text }}">
                            </a>
                        </div>
                        <a href="/articles/{{ article.article_id }}.html">
                            <div class="card-small-text-wrapper">
                                <h2 class="font-size-card-small-title">{{ article.title }}</h2>
                                <h3 class="card-small-subtitle font-size-card-small-subtitle">
                                    By {{ article.author }}
                                    <br>
                                    {{ get_article_creation_date_str(article) }}
                                </h3>
                            </div>
                        </a>
                        {% if article.tags %}
                            <div class="card-tags-wrapper">
                                {% for t in article.tags %}
                                    {% if t in url_to_tag_dict %}
                                            <a class="card-tag" href="/tags/{{ t }}">{{ url_to_tag_dict[t] }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="about-us-main font-size-card-big-subtitle">
        <h4 class="font-size-title" style="text-align: center">About Us</h4>
        <div class="about-us-entry">
            <div class="about-us-img-wrapper">
                <img src="/static/img/about_us.jpeg" class="about-us-img" alt="placeholder image">
            </div>
            <p class="about-us-text">
                Founded in 2023, the Illinois Global Review (IGR) began as a passion project among international relations students who wanted a space to share their voices, opinions, and research on global events. What started as a small initiative has since grown into a campus-wide publication dedicated to making international affairs accessible and engaging for all students. At its core, IGR empowers young thinkers to express their perspectives confidently and contribute meaningfully to conversations shaping our world.
            </p>
        </div>
    </div>
{% endblock %}